.form-inline {
    display: inline;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  @media (max-width: 575.98px) {
    .table-responsive-sm {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  @media (max-width: 767.98px) {
    .table-responsive-md {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  @media (max-width: 991.98px) {
    .table-responsive-lg {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  @media (max-width: 1199.98px) {
    .table-responsive-xl {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  @media (max-width: 1399.98px) {
    .table-responsive-xxl {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  #preview-div {
    background: url('../img/avatar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    border: 3px #fff;
    border-radius: 10px;
  }



  #preview-div-profile {
    background: url('../img/avatar.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 100%;
    border: 3px #fff;
    border-radius: 10px;
  }


  @media (max-width: 424px) {
    #preview-div-profile {
        background-size: cover;
        height: 250px;
        width: 100%;
        border: 3px #fff;
        border-radius: 10px;
      }
  }

  @media (min-width: 425px) and (max-width: 980px) {
    #preview-div-profile {
        background-size: cover;
        height: 450px;
        width: 100%;
        border: 3px #fff;
        border-radius: 10px;
      }
  }

  .img-thumb {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid var(--bs-border-color);
    border-radius: 0.375rem;
    max-width: 100%;
    height: 300px;
}

.w-150 {
min-width: 120px !important;
}

.w-100 {
    min-width: 100px !important;
    }
